<ion-view view-title="我的爱淘" >
    <ion-content class="stable-bg">
        <div id="Loginbuttons">
            <button class="button button-balanced">登录</button>
            <button class="button button-assertive">注册</button>
        </div>
        <ion-list class="card myInfo">
            <ion-item>
                <a class="dark">
                    <i class="icon ion-ios-star-outline assertive"></i>
                    我的收藏
                </a>
            </ion-item>
            <ion-item>
                <a class="dark">
                    <i class="icon ion-document royal"></i>
                    我的订单
                </a>
            </ion-item>
            <ion-item>
                <a class="dark">
                    <i class="icon ion-ios-world-outline calm"></i>
                    我的圈儿
                </a>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-divider light-bg">推荐工具</ion-item>
            <ion-item id="remmcon">
                <table>
                    <tr>
                        <td>
                            <i class="icon ion-iphone"></i><br>
                            我的通信
                        </td>
                        <td>
                            <i class="icon ion-android-contacts"></i><br>
                            我的圈子
                        </td>
                        <td>
                            <i class="icon ion-chatbubble-working"></i><br>
                            我要反馈
                        </td>
                        <td>
                            <i class="icon ion-calendar"></i><br>
                            淘日历
                        </td>
                    </tr>
                    <tr class="second">
                        <td>
                            <i class="icon ion-social-pinterest-outline"></i><br>
                            摇一摇
                        </td>
                        <td>
                            <i class="icon ion-contrast"></i><br>
                            试妆台
                        </td>
                        <td>
                            <i class="icon ion-social-usd-outline"></i><br>
                            领金币
                        </td>
                        <td>
                            <i class="icon ion-bag"></i><br>
                            爱逛街
                        </td>
                    </tr>
                </table>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>